<div id="a">
	<div ng-repeat="i in a1" class="div">
		<div class="tu"  ng-if="i.isp" ui-sref = "shoua1({id:i.id})">
			<a href="#"><img ng-src="{{i.image}}"/></a>
			<div class="p">
				<div class="p-a">
					<p>{{i.detail}}</p>
				</div>
				<div class="p-b">
					<p><span class="span">{{i.price | currency:"￥"}}</span><span class="color">{{i.cost | currency:"￥"}}</span></p>
					<p class="color">{{i.many}}万条评论</p>
				</div>
			</div>		
		</div>
		<div class="img" ng-if="!i.isp" ui-sref = "shoua2({id:i.id})">
			<a href="#"><img ng-src="{{i.image}}"/></a>
		</div>
	</div>
</div>
